body {
  margin: 0;
  background-color: rgb(222, 220, 220) !important;
}

#userContentCont,
 #userInfoCont,
  #nutritionCont,
   #workoutPageCont,
   #editProfileFormContainer{
background-color: #fff;
}


/*------ Navbar --------*/
#nutrifitLogo {
  width: 50px;
  border-radius: 50%;
}

#navbarCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  background-color: black;
}

#websiteNameLogoCont div,
#websiteNameLogoCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#websiteNameLogoCont {
  padding-right: 10px;
  width: 30%;
}

#websiteNameLogoCont div{
  padding-right: 10px;
}

#websiteName {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#userSearchBar {
  width: 300px;
}

#navbarButtonsCont {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.navButtons:hover {
  text-decoration: none;
}

#searchUsersCont{
  display: flex;
  flex-direction: column;
  position: relative;
}

#userResultsCont{
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0 0px 20px 20px;
  width: 300px;
  max-height: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: black;
  top: 30px;
  z-index: 2;
}

.userNode{
  width: 280px;
  padding: 5px;
}

.userNode div p{
  color: #007bff;
  margin: 4px 0 4px 4px;
}

.userNodeImage{
  width: 40px;
  border-radius: 100px;
}

/*----- Login Signup -------*/
#loginCont,
#signupFormCont {
  border: 1px solid black;
  background-color: #fff;
  width: 50%;
  text-align: center;
  margin: 40px auto 40px auto;
  border-radius: 10px;
}

.loginCreateTitle {
  padding: 20px;
}

.loginSignupEditForm,
#createWorkoutForm {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.loginSignupEditForm>label,
#createWorkoutForm>label {
  display: block;
  margin-top: 10px;
  font-weight: 900;
}

.loginSignupEditForm>input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.loginSignupEditForm textarea {
  width: 100%;
}

.loginSignupEditForm>button {
  padding: 10px 20px;
  background-color: #34571c;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.toggleLoginCreate {
  color: rgb(24, 24, 245);
}

.toggleLoginCreate:hover {
  cursor: pointer;
}

/*------- Landing Page ---------*/
#welcomeText {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
  z-index: 1;
}

#welcomeText h1 {
  font-size: 4rem;
}

#linkToLogin {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
}

#linkToLogin:hover{
  background-color: #4d9ff6;
  color: #fff;
}

.carouselImages {
  width: 100%;
}

.crousel-item {
  opacity: 0;
  transition: opacity 1s !important;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity 1s !important;
}

/*----- Workouts Page --------*/
#workoutPageCont {
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
}

#searchWorkoutCont {
  border-bottom: 4px solid black;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#searchWorkoutCont div {
  padding: 10px;
}

.workoutPageButtons,
#logoutButton,
#editProfileButton,
#saveChangesDeleteContainer button,
#followButton {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.7rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.workoutPageButtons {
  background-color: #007bff;
}

#searchWorkoutButton,
#searchNutritionButton,
#searchButtonAddToCalendar {
  background-color: #846c42;
  border-radius: 0px 20px 20px 0px;
  padding: 3px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#searchWorkoutInput,
#searchNutritionInput {
  border-radius: 20px 0px 0px 20px;
  width: 250px;
}

#createWorkoutButton, #createPostButton {
  background-color: #34571c;
  border-radius: 20px;
  padding: 3px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*------ Workout Node ----------*/
.workoutNodeCont {
  border-bottom: 1px solid black;
  background-color: rgb(200, 200, 200);
  width: 90%;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.workoutNodeCont div h2 {
  font-size: 0.7rem;
}

.workoutNodeCont div h3 {
  font-size: 1rem;
  margin: 0;
  padding: 5px 0;
}

.addWorkoutButton {
  display: flex;
  align-items: center;
}

.instructionsText {
  font-size: 0.8rem;
}

.showWorkoutDetails {
  color: rgb(24, 24, 245);
  width: 100px;
  margin: 5px 0 0 0;
}

.showWorkoutDetails:hover {
  cursor: pointer;
}

.workoutDetailsCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workoutDetailsCont div {
  width: 50%;
}

.workoutDetailsCont div p {
  font-size: 0.8rem;
  margin: 0;
  padding-top: 5px;
}

.workoutNodeDetailsOuter {
  padding: 10px;
}

/*------ Nutrition ------*/
#nutritionCont {
  border: 1px solid black;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

#searchCont {
  border-bottom: 4px solid black;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

#nutritionResultsCont {
  border: 1px solid black;
  width: 40%;
  margin: 20px auto;
}

#nutritionResultsCont div {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 5px;
}

#nutritionResultsCont p {
  margin: 0;
}

#noSearchResultsText {
  text-align: center;
  padding: 50px;
}

.bold {
  font-weight: bold;
}

/*------- Calendar --------*/
#calendarCont {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  max-height: 80vh;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  background-color: white;
}

#selectedDayCont {
  width: 50%;
  margin-left: 5px;
  border-radius: 20px;
}

#selectedDate {
  text-align: center;
  padding-top: 15px;
  border-bottom: 3px solid black;
  width: 75%;
  margin: 0 auto;
}

#addWorkoutCont {
  margin: 15px 0 0 15px;
  max-height: 530px;
}


#addWorkoutHeader {
  text-align: center;
  padding: 20px;
}

#addWorkoutToCalendarResultsCont {
  overflow: hidden;
  overflow-y: auto;
  max-height: 400px;
}

#searchInputAddToCalendar {
  border-radius: 20px 0px 0px 20px;
  width: 270px;
}

#toggleCalendarCont {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
}

#viewWorkoutsOnCalendarCont {
  overflow: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.toggleCalendarButton:hover {
  cursor: pointer;
  color: #007bff;
}

.toggleCalendarButtonActive {
  color: #007bff;
  text-decoration: underline;
}

/*-------- User Profile ------------*/
#userProfileCont {
  margin: 20px auto;
  display: flex;
  width: 70%;
}

#userInfoCont {
  border: 1px solid black;
  border-radius: 20px;
  height: fill;
  margin: 0 10px;
  width: 30%;
  text-align: center;
}

#userInfoUpper {
  border-bottom: 3px solid black;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

#userContentCont {
  width: 70%;
  border: 1px solid black;
  border-radius: 20px;
  max-height: 80vh;
}

.userProfilePhoto {
  border-radius: 100px;
  max-height: 150px;
  border: 1px solid black;
  width: 150px;
}

#editProfileText {
  text-align: center;
  padding: 20px 0;
}

#editProfileFormContainer {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
}

#saveChangesDeleteContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

#saveChangesDeleteContainer button {
  background-color: #34571c;
}

#goBackToProfile {
  text-align: center;
  padding-top: 20px;
  color: #007bff;
  cursor: pointer;
}

#userUsernameText,
#userFullNameText {
  margin: 0;
}

#userFullNameText {
  padding-top: 10px;
}

#userUsernameText {
  padding-bottom: 10px;
  color: #007bff;
}

#logoutButton,
#editProfileButton,
#followButton {
  background-color: #34571c;
}

#editProfileButton {
  margin-left: 10px;
}

#userFollowCont {
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin: 0 auto;
  padding-top: 10px;
}

.followNum {
  color: #007bff;
}

#bioFavWorkoutCont {
  padding: 0px 15px;
}

#userWorkoutsPostsTitleCont {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 3px solid black;
}

.userWorkoutsPostsTitle{
  color: #34571c;
  cursor: pointer;
}

#userWorkoutsPostsCont{
  max-height: 70vh;
  margin: 10px 10px 10px 20px;
  overflow: hidden;
  overflow-y: auto;
}

/*---------- Home ------------*/

#homeCont{
  border: 2px solid black;
  width: 50%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 20px;
}

#createPostCont{
  display: flex;
  border-bottom: 3px solid black;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

#allPostsCont{
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

#createPostCont textarea{
width: 100%;
}

#createPostCont div h2{
  font-size: 1rem;
}

#createPostCont div{
  width: 100%;
  padding-left: 10px;
}

.singlePostCont{
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.postTextCont{
  padding-left: 15px;
  width: 100%;
}

.postTextTop, .postTextBottom{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

#createPostPhoto{
  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
}

.profilePostImage{
  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
}

.likeButton{
  cursor: pointer;
}